* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg {
  position: absolute;
  z-index: -1;
  background-image: url(beach.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  filter: blur(20px);
}

.loading-text {
  font-size: 5rem;
  color: wheat;
  box-shadow: 1px 1px 1px black;
  border-radius: 1rem;
  padding: 0.3rem;
}
